
<html> 
  <head>
    <title>
      Kalkulator BMI
    </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
  <body>
<div class="container">
<div id="banner">
      <span>Kalkulator BMI</span>
</div>
<div id="aimtxt">
<br />

    <h1>
       Oblicz swoje BMI
    </h1>

<ul>
<li>Podaj swoją wage i wzrost
</li>
<li>Oblicz
</li>
</ul>
<form name="bmi_input" id="bmi_input">

  <input
  type="number"
  class="wzrost"
  id="wzrost"
  [(ngModel)]="wzrost"
  name="wzrost"
  required
  #wzrostForm="ngModel"
/>
<div
  class="alert"
  *ngIf="wzrostForm.invalid && wzrostForm.touched"
>
  Pole wzrost jest wymagane
</div>
</label>
<input
type="number"
class="waga"
id="waga"
[(ngModel)]="waga"
name="waga"
required
#wagaForm="waga"
/>
<div
class="alert"
*ngIf="wagaForm.invalid && wagaForm.touched"
>
Pole waga jest wymagane
</div>
</label>
<button
type="button"
class="przycisk"
style="background-color: red;"
(click)="formularz.resetForm()"
>
Resetuj
</button>
<button type="submit" class="przycisk" [disabled]="!formularz.form.valid">
Sprawdź
</button>
</from>
  </body>
</html>