
<html> 
  <head>
    <title>
      Kalkulator BMI
    </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
  <body>
<div class="container">
<div id="banner">
      <span>Kalkulator BMI</span>
</div>
<div id="aimtxt">
<br />

    <h1>
       Oblicz swoje BMI
    </h1>

<ul>
<li>Podaj swoją wage i wzrost
</li>
<li>Oblicz
</li>
</ul>
<form name="bmi_input" id="bmi_input">

                                                    <a>Check Your
                                                    BMI</a>


                                                        <strong>Your
                                                        Height:</strong>&nbsp;
                                                       
                                                          <input type="text"
                                                          name=
                                                          "lbs"
                                                          size="3"
                                                          id=
                                                          "height_feet" />
                                                       
                                                          <input type="text"
                                                          name=
                                                          "ins"
                                                          size="3"
                                                          id=
                                                          "height_inches" />
                                                        
                                                          <strong><label for="height_feet">
                                                          (feet)</label></strong>
                                                    
                                                       
                                                        <strong><label for="your_weight">
                                                          Your
                                                          Weight:</label>
                                                          &nbsp;</strong>
                                                        
                                                          <input type="text"
                                                          name="wt"
                                                          size="3"
                                                          id=
                                                          "your_weight" />
                                                       
                                                          <strong>(pounds)</strong>
                                                        
<input type="button" value="Compute BMI" (click)="this.compute()"/>
                                                       
                                                             
                                                                  Your
                                                                  BMI:</span></label><br />

                                                                  <input name="bmi"
                                                                  type="text"
                                                                  size="4"
                                                                  id="yourbmi"
                                                                  style="text-align: center" />
                                                                  </div>
                                                              
                                          <strong>BMI
                                          Categories:</strong><br />

                                          Underweight =
                                          &lt;18.5<br />
                                          Normal weight =
                                          18.5–24.9<br />
                                          Overweight =
                                          25–29.9<br />
                                          Obesity = BMI of 30 or
                                          greater
                                        </p>
                                      
                                </form>
                              
                  </div>
                
    </div>
  </body>
</html>